/* ========== typography ========== */
@use 'variables' as v;

html {
  font-size: var(--font-size-document);
}

body {
  line-height: 1.8;

  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--page-bg);
}

/* ========== text ========== */
h1 {
  font-size: map-get(v.$font-sizes, 'xxl');
  margin-bottom: map-get(v.$interval-values, 6);
}
h2 {
  font-size: map-get(v.$font-sizes, 'xl');
  margin-bottom: map-get(v.$interval-values, 4);
}
h3 {
  font-size: map-get(v.$font-sizes, 'lg');
  margin-bottom: map-get(v.$interval-values, 2);
}

/* ========== img ========== */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* ========== list ========== */
ul {
  list-style: none;
}

/* ========== link ========== */
a {
  color: #000;
}
